body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("background-img.jpg");
  background-size: 100%;
  background-repeat: repeat ;
  background-position: center;
}
.navbar-brand {
  margin: 0px 35px;
}
.n-options {
  margin: 10px;
}

/* Flexbox CSS */
.container {
  margin: 5px 30px;
  display: flex;
  align-self: center;
  flex-direction: column;
  height: 800px;
  background-color: transparent;
}
.container2 {
  margin: 5px 30px;
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 1320px;
}
.pp {
  margin-top: 20px;
  align-self: center;
  width: 250px;
  height: 250px;
  background-image: url("pp.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

.expression {
  display: flex;
  justify-content: center;
  background-color: transparent;
  font-size: 25px;
  padding: 40px;
}
.expression > h2 {
  color: rgb(0, 0, 0);
}
.expression > p {
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  width: 500px;
}
.vr {
  border-left: 1296px solid black;
  height: 4px;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px rgb(255, 37, 37), 0 0 30px #e60000,
      0 0 40px #e60000, 0 0 50px #e60000, 0 0 60px #e60000, 0 0 70px #e60000;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #acff4d, 0 0 40px #7fff4d,
      0 0 50px #03ff03, 0 0 60px #5cff4d, 0 0 70px #88ff4d, 0 0 80px #62ff4d;
  }
}
